<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="homeStyle.css">
</head>
<body>
   <div class="container">
        <aside class="sidebar">
            <nav>
                <center><h3>INSERT LOGO HERE</h3></center>
                <center><h3> Readify Navigation</h3></center>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="Leaderboard">Leaderboard</a></li>
                    <li><a href="PassageCreation">Create Passage</a></li>
                    <li><a href="testUI">Take a Test</a></li>
                </ul>
            </nav>
            </aside>

        <main class="content">
            <h1>Welcome to the Homepage</h1>
            <p>This is the main content area that will flow next to the sidebar.</p>
            </main>
    </div>
</body>
</html>