<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readify: Sign Up</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="form-container">
        <h2>Readify: Sign Up</h2>
        <form action = "/signup" method="post">
            <!-- Username -->
            <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" id = "name" name = "username" placeholder="Enter your Username" required autocomplete="off">
            </div>
            <!-- Password -->
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
             </div>
             <!-- Email -->
             <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="placeholder@email.com" required>
             </div>
             <!-- Submit Button -->
             <button type="submit" class="submit-btn">Sign Up!</button>
             <button class="submit-btn" onclick="history.back()">Go Back</button>
        </form>
    </div>
</body>
</html>