<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="homeStyle.css">
</head>
<body>
   <div class="container">
        <aside class="sidebar">
            <nav>
                <center><h3>INSERT LOGO HERE</h3></center>
                <center><h3> Readify Navigation</h3></center>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="createTest">Create Tests</a></li>
                    <li><a href="mainTests">Main Tests</a></li>
                    <li><a href="practiceTests">Practice Tests</a></li>
                </ul>
            </nav>
            </aside>
        <main class="content">
            <h1>Test Creation</h1>
            <form action="createTest" method="post">
                <div class="form-group">
                </div>
            </form>
            </main>
    </div>
</body>
</html>