/* needs to add import fonts */

h1 {
    margin-left: 12px;
}

p {
    font-family: sans-serif;
}

div.container {
    background-color: rgb(235, 233, 233);
    border-radius: 20px;
    display: flex;
    margin: 10px;
    img {
        margin: 20px;
    }
    p.p-b {
        padding-top: 12px;
        margin: 10px;
    }
    p.p-a {
        margin: 10px;
    }
}
