@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main.tipsntricks {
    display: block;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    padding: 20px;
}

p.p-link {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    margin-left: 10px;
}

div.tip-block {
    background-color: white;
    margin-left: 10px;
    width: 50%;
}

div.tip-block2 {
    display: flex;
}

img.img-tab {
    width: 40px;
    padding-top: 10px;
}

div.reading-tips {
    margin: 12px
}

h1.reading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

div.tip-block3 {
    margin-left: 60px;
    padding-bottom: 20px;
    padding-right: 10px;
}

p.p-tip-block3 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

div.question-types-tips {
    margin-top: 50px;
}

ul.ul-list {
    margin-left: 30px;
    font-family: "Poppins", sans-serif;
}

div.div-when-taking {
    margin-top: 30px;
}

p.p-when-taking {
    font-family: "Poppins", sans-serif;
}

div.div-intensive {
    margin-top: 30px;
}

p.p-intensive {
    font-family: "Poppins", sans-serif;
}

p.p-intensive-2 {
    font-family: "Poppins", sans-serif;
}

div.div-time-prac {
    margin-top: 30px;
}

p.p-intensive {
    font-family: "Poppins", sans-serif;
}

p.p-time-prac2 {
    font-family: "Poppins", sans-serif;
}

div.div-dont-forget {
    margin-top: 30px;
}

p.p-dont-forget {
    font-family: "Poppins", sans-serif;
}

ul.ul-dont-forget {
    font-family: "Poppins", sans-serif;
    margin-left: 30px;
}

div.div-tips-for-match {
    margin-top: 30px;
}

p.p-tips-for-match {
    font-family: "Poppins", sans-serif;
}

p.p-tips-for-match2 {
    font-family: "Poppins", sans-serif;
}

div.div-tips-for-true {
    margin-top: 30px;
}

p.p-tips-for-true {
    font-family: "Poppins", sans-serif;
}

p.p-tips-for-true2 {
    font-family: "Poppins", sans-serif;
}

ul.ul-tips-for-true {
    font-family: "Poppins", sans-serif;
    margin-left: 30px;
}
