@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0%;
    padding: 0%;
}

main {
    margin: 0%;
    padding: 0%;
    background-color: rgb(241, 241, 241);
}

main.aboutUsMain {
    display: block;
}

div.about-us-header {
    h1 {
        padding-top: 15px;
        margin-left: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    p {
        margin: 20px;
        font-family: 'Poppins', sans-serif;
    }
}

div.meet-the-team {
    margin-left: 6px;

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-style: normal;
    }
}

div.containerAboutUs {
    background-color: white;
    display: flex;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(219, 217, 217);
    img.picture {
        border-radius: 20px;
        margin: 30px;
    }
}

div.team-name {
    margin: 50px;
    font-family: 'Poppins', sans-serif;
}

div.team-socials {
    margin: 50px;
    margin-top: 100px;
}
