@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main.dashboard-main {
    background-color: rgb(246, 246, 246);
    display: block;
}

div.head-name {
    font-family: "DM Serif Display", serif;
    font-style: normal;
    margin-left: 15px;
    padding-top: 15px;
}

div.top-three {
    display: flex;
}

div.main-board {
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(198, 198, 198);
    width: 46%
}

h1.name-dashboard {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

div.main-title {
    text-align: center;
    padding: 10px;
}

div.main-pic {
    align-items: center;
}

img.main-img {
    border-radius: 20px;
    width: 260px;
    height: 260px;
}

div.practice-board {
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(198, 198, 198);
    width: 46%;
}

button.button-dashboard {
    border-style: none;
    background-color: white;
}

div.practice-title {
    text-align: center;
    padding: 10px;
}

div.lower-title {
    text-align: center;
    padding: 10px;
}

div.practice-pic {
    align-items: center;
}

/*div.voc-board {
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(198, 198, 198);
    width: 30%;
}*/

div.voc-title {
    text-align: center;
}

div.vocabulary-pic {
    align-items: center;
    margin-top: 30px;
}

div.bottom-two {
    display: flex;
}

div.vocabularytest {
    background-color: white;
    margin: 7px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(198, 198, 198);
    width: 31%;
}

div.tipsntricks {
    background-color: white;
    margin: 7px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(198, 198, 198);
    width: 31%;
}

div.tipsandtricks-pic {
    align-items: center;
    margin-top: 30px;
}

img.lower-img {
    border-radius: 20px;
    width: 260px;
    height: 260px;
}

/*
div.act-board {
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(198, 198, 198);
    width: 62%; 
}

div.act-title {
    text-align: center;
} */

div.achiev-board {
    background-color: white;
    margin: 7px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(198, 198, 198);
    width: 31%;
}

div.achiev-title {
    margin-top: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    h2 {
        font-size: 20px;
    }
}

div.achiev-content {
    display: block;
}

div.achievement {
    background-color: rgb(235, 235, 235);
    margin: 10px;
    border-radius: 20px;
    padding: 1px;
    display: flex;
    width: 95%;
}

p.achiev-p-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
}

p {
    margin: 5px;
}

img.achiev-img {
    width: 70px;
}

div.achieve-bottom {
    margin: 10px;
    text-align: center;
}

button.see-more {
    width: 30%;
    margin: 20px;
    background-color: rgb(43, 50, 255);
    color: white;
    border-color: rgb(43, 50, 255);
    border-radius: 20px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1.name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
