@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main.profile-examinee {
    height: 100vh;
    padding: 30px;
}

div.profile-examinee-page {
    background-color: white;
    padding: 30px;
    padding-top: 70px;
    border-radius: 10px;
    p {font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;}
}

div.flexbox-profile {
    display: flex;
}

table.examinee-profile-table {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
}

thead.ep-table-header {
    background-color: #dddddd;
}

tr.ep-table-body:nth-child(odd) {
  background-color: #dddddd;
}
